.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.InputWrapper {
  position: relative;
  width: 100%;
}

.EndAdornment {
  position: absolute;
  right: 0.7rem;
  top: 12%;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  color: var(--mui-palette-text-secondary);
}
.Input {
  margin: 0;
  border: 1px solid var(--mui-palette-Chip-defaultBorder);
  border-radius: var(--mui-shape-borderRadius);
  width: 100%;
  padding-right: 2em;
  padding-left: 0.7em;
  height: 2rem;
  font-size: 1rem;
  background: unset;

  &:focus {
    outline: 1px solid var(--mui-palette-primary-main);
  }

  &:invalid {
    border-color: var(--mui-palette-error-main);
  }

  &:focus:invalid {
    outline: 1px solid var(--mui-palette-error-main);
  }

  /* Remove hover effect when focused */
  &:valid:not(:focus):hover {
    outline: 1px solid var(--mui-palette-text-primary);
  }
}

.Error {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--mui-palette-error-main);
}

.Description {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-gray-600);
}
