version: '3.8'

services:
  influxdbv1:
    image: influxdb:1.11
    network_mode: host
    expose:
      - 8087
    volumes:
      - influxdb-storage:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=testing
      - INFLUXDB_ADMIN_USER=tester
      - INFLUXDB_ADMIN_PASSWORD=passw0rd
      - INFLUXDB_HTTP_BIND_ADDRESS=:8087
      - INFLUXDB_HTTP_AUTH_ENABLED=false
  chronograf:
    image: chronograf:latest
    network_mode: host
    volumes:
      - chronograf-storage:/var/lib/chronograf
    depends_on:
      - influxdbv1
    environment:
      - INFLUXDB_URL=http://localhost:8087
      - INFLUXDB_USERNAME=tester
      - INFLUXDB_PASSWORD=passw0rd
volumes:
  influxdb-storage:
  chronograf-storage:
