name: Documentation

on:
  push:
    branches:
      - main
      - fix/docs

permissions:
  contents: write

jobs:
  deploy:
    name: Deploy GitHub Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Sync build dependencies
        run: uv sync --no-dev --group docs

      # - name: Deploy documentation
      #   run: uv run mkdocs gh-deploy --force
